$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$body-bg: #3a4e76;
$font-size-base: 16px;
$font-family-sans-serif: 'Avenir W01', Arial, sans-serif;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.backgroundsize body {
  background: {
    image: url('../images/holiday-greeting-background.jpg');
    size: cover;
    position: center center;
    attachment: fixed;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header {
  padding: {
    top: 10px;
    bottom: 10px;
  }
  @media screen and (min-width: $screen-sm-min) {
    padding: {
      top: 20px;
      bottom: 20px;
    }
  }
}
.pv-logo {
  $pv-logo-height: 269px;
  $pv-logo-width: 1163px;
  $height: 35px;

  height: $height;
  width: $pv-logo-width * $height / $pv-logo-height;
  @include text-hide();
  background: {
    image: url('../images/logo-planview-white.png');
    size: contain;
    repeat: no-repeat;
    position: center center;
  }
  @media screen and (max-width: $screen-xs-max) {
    display: block;
    margin: {
      left: auto;
      right: auto;
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    $height: 50px;
    height: $height;
    width: $pv-logo-width * $height / $pv-logo-height;
  }
}

.content {
  padding: {
    top: 10px;
    bottom: 10px;
  }
  background-color: #fff5e8;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  @media screen and (min-width: $screen-sm-min) {
    @include border-top-radius(4px);
    padding: {
      top: 40px;
      bottom: 20px;
    }
  }
}

.video-container {
  padding: 10px 0;
  @include clearfix();
  @media screen and (min-width: $screen-sm-min) {
    padding: 40px 0;
  }
}

.footer {
  padding: {
    top: 30px;
    bottom: 30px;
  }
  background-color: #203762;
  color: #fff;
}

.photo-row {
  padding: 10px 0;
  @include make-row(10px);
    @media screen and (min-width: $screen-sm-min) {
    padding: 40px 0;
  }
}

.thumb {
  @include make-xs-column(2, 10px);
  @include make-sm-column(2, 10px);
  @include make-md-column(1, 10px);
  margin-bottom: 10px;
}
